button {
    border: none;
}

.button-1 {
    background-color: #129793;
}

.button-2 {
    background-color: #9BD7D5;
}

.button-3 {
    background-color: #FFEAAB;
}

.button-4 {
    background-color: #FF7260;
}

.button-5 {
    background-color: #105761;
}

.button-6 {
    background-color: #F0DCB9;
}

.button-7 {
    background-color: #FF5100;
}

.button-8 {
    background-color: #940D0B;
}

.button-9 {
    background-color: #F2BDD0;
}

.button-10 {
    background-color: #D93B84;
}

.button-11 {
    background-color: #7350BF;
}

.button-12 {
    background-color: #05AFF2;
}

.button-13 {
    background-color: #356288;
}

.button-14 {
    background-color: #AACFDD;
}

.button-15 {
    background-color: #FE875D;
}

.button-16 {
    background-color: #FE1100;
}